include head
body
	.total
		.wrapper.main
			img(src="img/keyboard.jpg" alt="" usemap="#map" class="techbg")

			map(name='map')
				area(id="purplekey", class="area", hidefocus="true" , alt='', title='', href='#', shape='poly', coords='589,321,566,320,567,355,555,359,568,396,627,403,627,355,596,341')
				area(id="bluekey", class="area", alt='', title='', href='#', shape='poly', coords='718,713,717,745,702,754,723,788,774,795,775,747,743,733,737,711')
				area(id="orangekey", class="area", alt='', title='', href='#', shape='poly', coords='1133,959,1135,928,1156,927,1156,949,1194,963,1191,995,1183,1008,1144,1010,1123,983,1118,969')

			//- TEXTOS SOBRE MOUSE
			.bluebox.systems Systems
			.bluebox.elearning E-LEARNING
			.bluebox.automation  AUTOMATION		

			img(class="logo" src="img/logo.png")
			ul.menu
				a(href="index.html"): li.blue Home
				a(href="wedo.html"): li.purple What we do
				a(href="weare.html"): li.yellow Who we are
				a(href="contact.html"): li.green Contact

		
		#systems.sidetext.blueside.over
			img(class="close" title="close" alt="close" id="close" src="img/close.png")
			img(class="sideicon" src="img/monitor.png")
			h2 ADVANCED TECHNOLOGIES
			h3 SYSTEMS
			p
				|EVALUATE BUSINESS AND LOGISTICS OPERATIONS TO IDENTIFY SOFTWARE SOLUTION REQUIREMENTS AS WELL AS SOFTWARE AND HARDWARE PARTNERS AND SOLUTIONS TO ENSURE THE BEST FIT WITH YOUR CUSTOMER-SPECIFIC REQUIREMENTS AT LEAST RISK AND COST; INCLUDING BUT NOT LIMITED TO:
				br
				br
				|• CUSTOMIZED SOFTWARE APPLICATIONS (SLOTTING ENHANCEMENT, STRATEGIC 
				|• MODELLING, PICK LINE MODELLING)
				br
				br
				|• MATERIAL HANDING, AUTOMATION, VOICE, WMS EVALUATION AND SELECTION
				br
				br
				|• HARDWARE & SOFTWARE IDENTIFICATION

			.divline
			h3 Want to learn more?
			.actionbutton  Click here	

		#elearning.sidetext.blueside
			img(class="close" title="close" alt="close" id="close" src="img/close.png")
			img(class="sideicon" src="img/monitor.png")
			h2 ADVANCED TECHNOLOGIES
			h3  E-LEARNING
			p
				|EVALUATE BUSINESS AND LOGISTICS OPERATIONS TO IDENTIFY SOFTWARE SOLUTION REQUIREMENTS AS WELL AS SOFTWARE AND HARDWARE PARTNERS AND SOLUTIONS TO ENSURE THE BEST FIT WITH YOUR CUSTOMER-SPECIFIC REQUIREMENTS AT LEAST RISK AND COST; INCLUDING BUT NOT LIMITED TO:
				br
				br
				|• EDUCATIONAL OPPORTUNITIES
				br
				|• UNIVERSITY/ COLLEGE PROGRAMS
				br      
				|• CUSTOMIZED PROGRAMS
				br
				|• LIST OF COURSES
				br
				|• INTERNET CONNECTIONS
				br
				|• WESITES
				br
				|• BLOGS
				br
				|• FOOD
				br
				|• SUPPLY CHAIN
				br
				|• BOOKS/MAGAZINES/NEWSLETTERS
				br
				|• STUDIES
				br
				|• ORGANIZATIONS
				br
				|• CASE STUDIES
				br
				|• SEMINARS
				br
				|• SUCCESS STORIES

			.divline
			h3 Want to learn more?
			.actionbutton  Click here	

		#automation.sidetext.blueside
			img(class="close" title="close" alt="close" id="close" src="img/close.png")
			img(class="sideicon" src="img/monitor.png")
			h2 ADVANCED TECHNOLOGIES
			h3  AUTOMATION
			p
				br
				|• AUTOMATION AND E-COMMERCE SOLUTIONS

			.divline
			h3 Want to learn more?
			.actionbutton  Click here	
		//- footer
		include footer
	script(src="js/jquery.min.js")
	script(src="js/jquery.rwdImageMaps.min.js")
	script $(document).ready(function(e) {$('img[usemap]').rwdImageMaps();});
	script(src="js/sideanimations.js")