include head

body
	.mobilemenu Menu<span>▼</span>
	.wrapper.section_bg.greenbg
		img(class="logo" src="img/logo.png")
		ul.menu
			a(href="index.html"): li.blue Home
			a(href="wedo.html"): li.pink What we do
			a(href="weare.html"): li.yellow Who we are
			a(href="contact.html"): li.select Contact
		h1 CONTACT
	

	.center.clear
		.contact-card.clear
			img(src="img/map.png")
			.contact-info 6500 Trans-Canada Service Rd. Suite 400 Montreal, Quebec Canada H9R 0A5
		.contact-card.clear
			img(src="img/phone.png")
			.contact-info 
				a(href="tel:5146790362") 514-679-0362 
				br
				a(href="tel:9415257339") 941-525-7339
		.contact-card.clear
			img(src="img/mail.png")
			.contact-info 
				a(href="mailto:info@ksinternational.me") info@ksinternational.me
	
	script(src="js/jquery.min.js")
	script(src="js/mobile.js")
	include footer