include head
body
	.total
		.wrapper.main

			img(src="img/storage.jpg" alt="" class="worldbg")
			img(src="img/storage_boxes.png" ,usemap="#map" class="dots blink")
			map#Map(name='map')
				area(id="bluebox", data-target='#dcoptim', onmouseover='getdesc(this)', onmouseout='removedesc(this)', onclick='openside(this)', class="area" , shape='poly', coords='558,645,681,646,681,546,566,543', style='outline:none;', target='_self')
				area(id="purplebox", data-target='#DCDESIGN', onmouseover='getdesc(this)', onmouseout='removedesc(this)', onclick='openside(this)', class="area" title='purple' , shape='poly', coords='564,658,703,648,694,746,568,755', style='outline:none;', target='_self')
				area(id="pep", data-target='#labor', onmouseover='getdesc(this)', onmouseout='removedesc(this)',  onclick='openside(this)', class="area" , shape='poly', coords='988,575,1034,577,1030,736,963,734', style='outline:none;', target='_self')
				area(id="orangebox", data-target='#dcimp', onmouseover='getdesc(this)', onmouseout='removedesc(this)', onclick='openside(this)', class="area", shape='poly', coords='1063,596,1060,677,1154,677,1153,593', style='outline:none;', target='_self')

			//- TEXTOS SOBRE MOUSE
			.purplebox.DCDESIGN DC DESIGN
			.purplebox.dcoptim DC OPTIMIZATION
			.purplebox.dcimp PROJECT IMPLEMENTATION MANAGEMENT SERVICES
			.purplebox.labor  Labor

			a(class="logo" href="index.html"): img(class="change" src="img/logo-w.png")
			.mobilemenu Menu<span>▼</span>
			ul.menu
				a(href="index.html"): li.blue.whitetxt Home
				a(href="wedo.html"): li.purple.whitetxt What we do
				a(href="weare.html"): li.yellow.whitetxt Who we are
				a(href="contact.html"): li.green.whitetxt Contact
			
		.mobile-maps
			img(src="img/storage_m.jpg" class="mobilemap")
			img(src="img/sotrage_boxes_m.png" ,usemap="#mobilemap" width="901", height="1501", class="blink mobiledots")
			map#mobilemap(name='mobilemap')

				area(shape='rect', coords='899,1499,901,1501', alt='Image Map', style='outline:none;', title='Image Map')
				area(id="blueboxm", title='blue', shape='poly', coords='161,805,9,815,15,682,164,679', style='outline:none;', target='_self')
				area(id="purpleboxm", title='purple', shape='poly', coords='12,838,9,959,172,952,166,819', style='outline:none;', target='_self')
				area(id="orangeboxm", title='orange', shape='poly', coords='697,745,696,862,825,865,821,742', style='outline:none;', target='_self')
				area(id="yellowboxm", title='yellow', shape='poly', coords='582,718,579,914,664,927,666,717', style='outline:none;', target='_self')



			//- map#mobilemap(name='mobilemap')
				
			//- 	area(id="blueboxm"  shape='rect', coords='0,673,174,813', style='outline:none;', target='_self')
			//- 	area(id="purpleboxm",  shape='rect', coords='0,836,169,969', style='outline:none;', target='_self')
			//- 	area(id="yellowboxm",  shape='rect', coords='566,706,668,933', style='outline:none;', target='_self')
			//- 	area(id="orangeboxm", shape='rect', coords='698,736,820,872', style='outline:none;', target='_self')
				
		
		#DCDESIGN.sidetext.purpleside
			img(class="close" title="close" alt="close" id="close" src="img/close.png")
			img(class="sideicon" src="img/building.png")
			h2 OPERATIONAL TRANSFORMATION
			h3 DC DESIGN
			br
			li RIGHT SIZING OF DC’S & EXPANSIONS
			br
			li DETERMINE OPTIMAL MATERIAL HANDLING SYSTEM DESIGN 
			br
			li EVALUATION OF AUTOMATION AND E-COMMERCE SOLUTIONS
			br
			li DETERMINE OPTIMUM LAYOUT & OPERATIONS BY DEPARTMENT
			br
			li DETAILED DATA ANALYSIS AND MODELLING
			br
			li MASTER SITE PLANNING
			br
			li OMNICHANNEL STRATEGY AND DESIGN

			.divline
			h3 Want to learn more?
			.actionbutton: a(href="learnmore.html")  Click here	

		#dcoptim.sidetext.purpleside
			img(class="close" title="close" alt="close" id="close" src="img/close.png")
			img(class="sideicon" src="img/building.png")
			h2 OPERATIONAL TRANSFORMATION
			h3 DC OPTIMIZATION
			br
			li RESET & OPTIMIZATION OF EXISTING DC’S
			br
			li PRODUCTIVITY ASSESSMENT & BENCHMARKING SERVICES
			br
			li EVALUATE ALTERNATIVE OPERATING STRATEGIES TO MAXIMIZE EFFICIENCIES, SPACE UTILIZATION AND FACILITY LIFETIME
			br
			li DEVELOP ALTERNATIVE OPERATING STRATEGIES
			br
			li SLOTTING ENHANCEMENT EVALUATION
			br
			li OPTIMIZATION OF STORAGE AND FRONTS


			.divline
			h3 Want to learn more?
			.actionbutton: a(href="learnmore.html")  Click here	

		#dcimp.sidetext.purpleside
			img(class="close" title="close" alt="close" id="close" src="img/close.png")
			img(class="sideicon" src="img/building.png")
			h2 OPERATIONAL TRANSFORMATION
			h3 PROJECT IMPLEMENTATION MANAGEMENT SERVICES
			br
			li OPERATIONAL AUDITS & CONSULTING
			br
			li IDENTIFICATION OF SYSTEMS AND MECHANICAL APPLICATIONS, DEVELOPING EQUIPMENT REQUEST FOR QUOTATIONS, MANAGING THE BIDDING PROCESS AND REVIEWING THE RESPONSES
			br
			li ESTABLISHING THE SLOTTING METHODOLOGY AND OPERATIONAL APPLICATIONS
			br
			li PERFORM FINAL SLOTTING & MOVE PLANNING
			br
			li REVIEW OF ARCHITECTURAL AND ENGINEERING DRAWINGS
			br
			li DEVELOPING CREWING REQUIREMENTS
			.divline
			h3 Want to learn more?
			.actionbutton: a(href="learnmore.html")  Click here	
		
		#labor.sidetext.purpleside
			img(class="close" title="close" alt="close" id="close" src="img/close.png")
			img(class="sideicon" src="img/building.png")
			h2 OPERATIONAL TRANSFORMATION
			h3 LABOR
			br
			li LABOR OPTIMIZATION PROGRAM
			br
			li PRODUCTIVITY COMPARATIVE ANALYSIS AT ORDER LINE LEVEL
			br
			li BUSINESS INTELLIGENCE AT THE OPERATIONAL LEVEL

				
			.divline
			h3 Want to learn more?
			.actionbutton: a(href="learnmore.html")  Click here	

		//- footer
		include footer
	
	script(src="js/jquery.min.js")
	
	script(src="js/jquery.rwdImageMaps.min.js")
	script(src="js/loadfiles.js")
	script(src="js/ios-fix.js")
	
	script $(document).ready(function(e) {$('img[usemap]').rwdImageMaps();});
	//- script $('area').on('click', function() { alert($(this).attr('title') + ' clicked');});

